.venv/
__pycache__/
*.pyc
.env
.DS_Store
.env
.vercel
.env*
node_modules/
CLAUDE.md
*.duckdb
*.duckdb.wal
data_pipeline/dbt_project/target/
data_pipeline/dbt_project/logs/
*.parquet
*.egg-info/
docs/
.claude
quant_finance_mldl_analytics.egg-info
Frontend\.vercel\README.txt
.github/workflows
tdo.md
.tmp_dagster_home_26rtdwzt